.wrapper {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}



.krug {
position: absolute;
width: 100px;
height: 100px;
background-color: #a3a5a1;
transition: all 3s ease-in;
top: 0;
left: 0;

}

.krug:hover{
    background-color: #121212;
      
}

.wrapper:hover .krug {
    top: 400px;
    left: 400px;
    transform: rotate(180deg);
}